.footer {
    background-color: #1a1a1a;
    color: white;
    padding: 3em;
    text-align: center;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.list svg {
    font-size: 4em;
}

.item {
    margin-left: 0.5em;
    font-size: 1.4em;
}

.item a {
    color: black;
    text-decoration: none;
}

.link a {
    font-size: 20px;
    color: white;
    transition: .5s;
}

.link a:hover {
    color: #f5c056;
}

.links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.links a {
    color: white;
    text-decoration: none;
}
.h3 {
    color: #ffbb33;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social_list li {
    margin: 0 1em;
}
.social_list li:hover {
    color: #ffbb33;
}
.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}