.home {
    background-image: linear-gradient(90deg, #8c52ff, #5ce1e6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-bottom: 5em;
    gap: 100px;

}
.abilities_h1 {
    background-image: linear-gradient(90deg, #8c52ff, #5ce1e6);
    font-size: 50px;
    padding: 1.5em;
    color: white;
    padding-top: 2em;
}
.list {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    gap: 5vw;
}
.a1 {
    max-width: 1000px;
    width: 100%;
    background-color: #762fcf;
    padding: 4em;
    border-radius: 12px;
    color: white;
}
.a1 h2 {
    color: #ffbb33;
}
.a2 {
    max-width: 1000px;
    width: 100%;
    background-color: #762fcf;
    padding: 4em;
    border-radius: 12px;
    color: white;
}
.a2 h2 {
    color: #ffbb33;
}
.a3 {
    max-width: 1000px;
    width: 100%;
    background-color: #762fcf;
    padding: 4em;
    border-radius: 12px;
    color: white;
}
.a3 h2 {
    color: #ffbb33;
}
.a4 {
    max-width: 1000px;
    width: 100%;
    background-color: #762fcf;
    padding: 4em;
    border-radius: 12px;
    color: white;
}
.a4 h2 {
    color: #ffbb33;
}
.a5 {
    max-width: 1000px;
    width: 100%;
    background-color: #762fcf;
    padding: 4em;
    border-radius: 12px;
    color: white;
}
.a5 h2 {
    color: #ffbb33;
}

@media screen and (max-width: 1180px) {
    .home {flex-wrap: wrap;}
}    