.home {
    background-image: linear-gradient(90deg, #8c52ff, #5ce1e6);
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 30px;
}
.l_1 {
    color: white;
    font-size: 30px;
}
.name {
    color: #f44926;
}
.func {
    display: flex;
    font-size: 70px;
}
.func_2 {
    display: flex;
    font-size: 90px;
}
.p_2 {
    color: white;
    padding-bottom: 1em;
    padding-left: .5em;
}
.home h1 {
    color: white;
    font-size: 90px;
}
.list {
    list-style-type: none;
}
.btn {
    text-decoration: none; 
    border-radius: 20px;
    padding: 1.3em;
    background-color: #f44926; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
    border: none;
    width: 100%;
}
.btn:hover {
    background-color: #cc3f22;
}

@media screen and (max-width: 805px){
    .home {
        flex-wrap: wrap;
    }
}

