.home {
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    padding-top: 25vh;
    flex-direction: row;
    gap: 15vw;
}
img {
    border-radius: 50%;
    width: 300px;
}

.description {
    display: flex;
    color: rgb(174, 173, 173);
    text-align: left;
    font-weight: bold;
    flex-direction: column;
    padding-bottom: 1em;
    max-width: 380px;
    width: 100%;
}
.selfieText{
    font-size: 1rem;
    word-wrap: break-word;
}
.p_frase {
    font-size: 45px;
    padding-bottom: .3em;
}
.p_span1, .p_span2{
    color: yellow;
}
.balao2{
    background: white;
    font-size: 1em;
    line-height: 1.6em;  
    border-radius: 15px;
    color: black;
    font-weight: bold;
    padding: 20px;
    position: relative;
    bottom: 5px;
} .balloonText {
    display: flex;
    margin: auto;
    gap: .4em;
    align-items: center;
    justify-content: center;
}
.balao2:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    top: 60px;
    left: 20%;

}
.p_phrase {
    font-size: 18px;
    padding-bottom: .5em;
}
.name {
    font-size: 20px;
    color: #343434;
    font-weight: bold;
}
.list {
    list-style-type: none;
}
.buttons_div{
    display: flex;
    flex-direction: row;
    gap: .5vw;
    padding-top: 1em;
}
.btn {
    border-radius: 20px;
    padding: 1.3em;
    background-color: #343434;
    border-color: yellow; 
    color: yellow; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0s ;
    width: 100%;
    font-weight: bold;
}
.btn:hover {
    background-color: white;
    color: black;
    border: none;
}
.btn2 {
    border-radius: 20px;
    padding: 1.3em;
    background-color: yellow;
    border-color: yellow; 
    color: #343434; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease-in-out;
    width: 100%;
    font-weight: bold;
    border: none;
} .btn2 svg {
    font-size: 2em;
}
.btn2:hover {
    background-color:white;
    color: black;
}

@media (max-width: 980px){
    .home {
        background-color: #343434;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4em;
        padding-top: 25vh;
        flex-direction: column;
        gap: 10vw;
        width: 100%;
    }
    .description {
        width: 100%;
    }
}
@media (max-width: 900px){
    .description {
        
    }
}