.home {
    background-color: #1a1a1a;
    flex-direction: column;
    display: flex;
    padding: 5.5em;
    flex-wrap: wrap;
}
.home h1{
    font-size: 2em;
    color: white;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 7vh;
}

.projectsWrap {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 2vw;
}

.languageLayout{
    color: rgb(174, 173, 173);
    background-color: #0d0d0d;
    padding: .4em;
    border-radius: 5px;
}

.githubLink {
    margin-top: 2vh;
    text-decoration: none;
    color: rgb(174, 173, 173);
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 0;
    gap: .2em;
    transition: 0s;
} .githubLink:hover {
    color: white;
}

.blackJack, .calculateMass, .botAutomation, .alexaArtesanal {
    display: flex;
    background-color: #1a1a1a;
    border: 1px solid rgb(174, 173, 173);
    padding: 1.5em;
    border-radius: 8px;
    width: 20vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgb(174, 173, 173) 0px 5px 15px;
}
.blackJack p, .calculateMass p, .botAutomation p, .alexaArtesanal p {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5vh;
}

@media (max-width: 980px){
    .blackJack, .calculateMass, .botAutomation, .alexaArtesanal {
        width: 100%;
    }
}